<div class="flex flex-wrap justify-center gap-4">
    @for (product of products; track product.id) {
        <div class="card bg-base-100 w-96 shadow-sm mt-4 mb-4">
            <figure>
                <img
                    src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp"
                    alt="Shoes"
                />
            </figure>
            <div class="card-body">
                <div class="flex justify-between">
                    <h2 class="card-title">{{ product.name }}</h2>
                    <h2 class="card-title">{{ product.price }}</h2>
                </div>
                <p>
                    {{ product.description }}
                </p>
                <div class="card-actions justify-end">
                    <button class="btn btn-primary">Buy Now</button>
                </div>
            </div>
        </div>
    } @empty {
        <p class="ml-auto mt-4">No Products Found.</p>
    }
    <!-- <div class="card bg-base-100 w-96 shadow-sm mt-4 mb-4">
        <figure>
            <img
                src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp"
                alt="Shoes"
            />
        </figure>
        <div class="card-body">
            <h2 class="card-title">Card Title</h2>
            <p>
                A card component has a figure, a body part, and inside body
                there are title and actions parts
            </p>
            <div class="card-actions justify-end">
                <button class="btn btn-primary">Buy Now</button>
            </div>
        </div>
    </div>
    <div class="card bg-base-100 w-96 shadow-sm mt-4 mb-4">
        <figure>
            <img
                src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp"
                alt="Shoes"
            />
        </figure>
        <div class="card-body">
            <h2 class="card-title">Card Title</h2>
            <p>
                A card component has a figure, a body part, and inside body
                there are title and actions parts
            </p>
            <div class="card-actions justify-end">
                <button class="btn btn-primary">Buy Now</button>
            </div>
        </div>
    </div>
    <div class="card bg-base-100 w-96 shadow-sm mt-4 mb-4">
        <figure>
            <img
                src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp"
                alt="Shoes"
            />
        </figure>
        <div class="card-body">
            <h2 class="card-title">Card Title</h2>
            <p>
                A card component has a figure, a body part, and inside body
                there are title and actions parts
            </p>
            <div class="card-actions justify-end">
                <button class="btn btn-primary">Buy Now</button>
            </div>
        </div>
    </div>
    <div class="card bg-base-100 w-96 shadow-sm mt-4 mb-4">
        <figure>
            <img
                src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp"
                alt="Shoes"
            />
        </figure>
        <div class="card-body">
            <h2 class="card-title">Card Title</h2>
            <p>
                A card component has a figure, a body part, and inside body
                there are title and actions parts
            </p>
            <div class="card-actions justify-end">
                <button class="btn btn-primary">Buy Now</button>
            </div>
        </div>
    </div>
    <div class="card bg-base-100 w-96 shadow-sm mt-4 mb-4">
        <figure>
            <img
                src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp"
                alt="Shoes"
            />
        </figure>
        <div class="card-body">
            <h2 class="card-title">Card Title</h2>
            <p>
                A card component has a figure, a body part, and inside body
                there are title and actions parts
            </p>
            <div class="card-actions justify-end">
                <button class="btn btn-primary">Buy Now</button>
            </div>
        </div>
    </div> -->
</div>
